body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f4f4f4;
}

.login-form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 350px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: #f9f9f9;
}

button {
  width: 100%;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  padding: 10px 15px;
  background-color: #333;  
  transition: background-color 0.3s;
  border-radius: 20px;
}

button:hover {
  background-color: #555;
}

.error {
  color: red;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.login-link, .register-link {
  text-align: center;
  margin-top: 15px;
}

.login-link a, .register-link a {
  color: #333;
  text-decoration: none;
}

.login-link a:hover, .register-link a:hover {
  text-decoration: underline;
}
