input[type="text"] {
  padding: 8px;
  width: 250px;
  position: relative;
  z-index: 1;
}

.react-autosuggest__suggestions-container {
  position: relative; 
}

.react-autosuggest__suggestions-list {
  align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 100%; 
  position: absolute; 
  top: 100%; 
  left: 0; 
  background-color: #87CBB9;
  border: 1px solid #ccc;
  z-index: 10; 
  display: flex;
  flex-direction: column;
}

.react-autosuggest__suggestion {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
  margin: 2px;
  display: block;
  width: 90%;
  text-align: center;
  margin-left: 10px;
}

.react-autosuggest__suggestion--highlighted {
  background-color: #f0f0f0;
}